/**
* @auth: dmx
* @time: 2022/6/15
* @func:
**/
.icd-h1,
.icd-h2,
.icd-h3,
.icd-h4,
.icd-h5,
.icd-h6 {
  @front-end: #f06292;

  margin: 20px 0;
  cursor: default;

  .icd-title-box {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: color 0.3s ease-out;

    //&::before {
    //  position: relative;
    //  top: 2px;
    //  margin-right: 4px;
    //  content: '🍭';
    //}

    &::after {
      position: absolute;
      top: -2px;
      right: -20px;
      margin-left: 6px;
      font-size: 12px;
      color: @front-end;
      opacity: 0.3;
      transition: opacity 0.3s ease-out;
    }

    &:hover {
      color: @front-end;

      &::after {
        opacity: 1;
      }
    }

    .icd-title-text {
    }
  }
}

.icd-h1 {
  font-size: 28px;

  .icd-title-box {
    &::before {
      // content: '💡';
    }

    &::after {
      content: 'h1';
    }
  }
}

.icd-h2 {
  font-size: 26px;

  .icd-title-box {
    &::before {
      // content: '🍭';
    }

    &::after {
      content: 'h2';
    }
  }
}

.icd-h3 {
  font-size: 24px;

  .icd-title-box {
    &::before {
      // content: '🍭';
    }

    &::after {
      content: 'h3';
    }
  }
}

.icd-h4 {
  font-size: 22px;

  .icd-title-box {
    &::before {
      // content: '🍭';
    }

    &::after {
      content: 'h4';
    }
  }
}

.icd-h5 {
  font-size: 20px;

  .icd-title-box {
    &::before {
      // content: '🍭';
    }

    &::after {
      content: 'h5';
    }
  }
}

.icd-h6 {
  font-size: 18px;

  .icd-title-box {
    &::before {
      // content: '🍭';
    }

    &::after {
      content: 'h6';
    }
  }
}
