.k {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  border-image: initial;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 4px 6px;
  color: black;
  font-weight: 500;
  border: none;
  background: rgba(255, 255, 255, .3);
  // filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px #9521f3, 0 0 40px #c600ee, 0 0 80px #f704f7;
  outline: none;
  border-radius: 10%;
}
