/**
* @auth: dmx
* @time: 2022/6/16
* @func:
**/
.icd-table-wrapper {
  box-sizing: border-box;
  width: calc(100% - 40px);
  margin: 20px;
  overflow: hidden;

  .icd-table {
    th {
      text-align: left;
      background-color: rgb(255 255 255 / 20%);

      &:first-child {
        border-top-left-radius: 12px;
      }

      &:last-child {
        border-top-right-radius: 12px;
      }
    }

    tr,
    td,
    th {
      padding: 0 20px;
      border: 1px solid transparent;
    }

    tr {
      width: 100%;
      overflow-x: hidden;
    }

    tr,
    td {
      line-height: 32px;
    }
  }
}
